@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
</style>
</head>
<body>

<table>
  <thead>
    <tr>
      <th>Dag</th>
      <th>Varm Ret</th>
      <th>Kold Ret</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Man 02</td>
      <td>Kylling & pasta</td>
      <td>Smørebrød</td>
    </tr>
    <tr>
      <td>Tirs 03</td>
      <td>Græskarsuppe</td>
      <td>Pastasalat</td>
    </tr>
    <tr>
      <td>Ons 04</td>
      <td>Lagsange</td>
      <td>Vandmelon Spyd</td>
    </tr>
    <tr>
      <td>Tors 05</td>
      <td>Varmrøgetlaks</td>
      <td>Hummer</td>
    </tr>
    <tr>
      <td>fre 06</td>
      <td>Helstægt Pattegris</td>
      <td>Kartoffelsalatsalat</td>
    </tr>
  </tbody>
</table>

</body>
</html>
