@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
  <thead>
    <tr>
      <th>Dag</th>
      <th>Varm Ret</th>
      <th>Kold Ret</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Man 02</td>
      <td>Kylling & pasta</td>
      <td>Smørebrød</td>
    </tr>
    <
tr>
      <td>Tirs 03</td>
      <td>Græskarsuppe</td>
      <td>Pastasalat</td>
    </tr>
    <tr>
      <td>Ons 04</td>
      <td>Lagsange</td>
      <td>Vandmelon Spyd</td>
    </tr>
    <tr>
      <td>Tors 05</td>
      <td>Varmrøgetlaks</td>
      <td>Hummer</td>
    </tr>
    <tr>
      <td>fre 06</td>
      <td>Helstægt Pattegris</td>
      <td>Kartoffelsalatsalat</td>
    </tr>
  </tbody>
</table>
